---
import AboutExperience from "../about-experience.astro"
import experiences from "../../collections/experiences.json";

---

<section class="mx-auto max-w-4xl px-7 lg:px-0">
  <h2
class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
>
Experience
</h2>
<div class="px-5 py-10">
{
  experiences.map((experience) => {
    return (
      <div class="pb-10 border-l border-gray-200 last:border-l-0 dark:border-neutral-700">
        <AboutExperience
          dates={experience.dates}
          role={experience.role}
          company={experience.company}
          description={experience.description}
          logo={experience.logo}
        />
      </div>
    )
  })
}
</div>
</section>
